.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
 
  background-image: var(--background_image);
  background-color: var(--background_color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main_text_color);
  font-family: var(--page_font_family);
  font-size: 18px;
  line-height: 23.4px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {

}

.icon__rec::before {
  content: '';
  position: absolute;
  top: 0;
  left: 33px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent_color);
  border-right: 1px solid var(--accent_color);
}

.icon__rec {
  position: absolute;
  z-index: -1;
  display: var(--display_rec);
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  color: var(--accent_color);
  
}

.icon__rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent_color);
  background: var(--accent_color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: auto;
  justify-self: end;  
  margin-top: 75px;
  margin-right: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--menu_list);
  text-transform: lowercase;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent_color);
}

.big-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--no_focus_text_color);
}

.shadow-decor {
  text-shadow: 4px 4px 0 var(--shadow_color);
}



