.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background_image);
  background-color: var(--background_color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main_text_color);
  font-family: var(--page_font_family);
  font-size: 18px;
  line-height: 23.4px;
}

.header {
  display: grid;
  height: 100vh;
  padding: 10px;
  min-block-size: 668px;
  align-items: start;
  grid-template-rows: 1fr max-content 1fr;
}

.decorated-zone {
  position: relative;
 }
 
.decorated-zone::before {
  content: "";
  border-inline-end: 1px solid var(--frame_color);
  border-block-start: 1px solid var(--frame_color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  align-self: flex-start;
  justify-self: end;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--frame_color);
  border-block-end: 1px solid var(--frame_color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  align-self: flex-end;
  justify-self: start;
}


.icon__rec {
  position: absolute;
  z-index: -1;
  display: var(--display_rec);
  align-items: center;
  gap: 10px;
  inset-inline-end: 19px;
  inset-block-start: 10px;
  color: var(--accent_color);
  text-transform: uppercase;
}

.icon__rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent_color);
  background: var(--accent_color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: auto;
  justify-self: end;  
  padding-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--menu_list);
  text-transform: lowercase;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  padding-left: 13px;
  padding-right: 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent_color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover_button);
}

.header__theme-menu-button_active, .header__theme-menu-button_active:hover {
  outline: 1px solid var(--menu_list);
  pointer-events: none;
}

.big-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--no_focus_text_color);
}

.shadow-decor {
  text-shadow: 4px 4px 0 var(--shadow_color);
}

.title-decor {
  background: var(--accent_color);
}

.header_subtitle {
  line-height: inherit;
  font-weight: 700;
  font-size: inherit;
  color: var(--subtitle_text_color);
  align-self: center;
  justify-self: end;
}

.main {
  padding-top: 40px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.section-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-list {
  display: grid;
  gap: 20px;
}

.section-title {
color: var(--menu_list);
font-weight: 700;
font-size: inherit;
line-height: inherit;
margin-block-end: 10px;
}

.section-list-item-header {
  color: var(--subtitle_text_color);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.section-list-item-text {
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
  font-weight: 400;
}

.section-list-item-text-decor {
  font-weight: 400;
}

.margin-twenty {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--hover_link);
}

.link:focus-visible {
  outline: 1px solid var(--hover_link);
}

.shadow {
  text-shadow: 3px 1px 0 var(--accent_color);
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.list-img {
  gap: 10px;
}

.footer {
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  padding: 10px;
  min-block-size: 668px;
  height: 100vh;
}

.shadow-decor-footer {
  text-shadow: 2px 2px 0 var(--shadow_color);
}



